/* List styling is from https://www.w3schools.com/html/html_lists_unordered.asp */
.nav_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  .nav_list > li {
    float: left;
  }
  
  .nav_list > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .nav_list > li a:hover {
    background-color: #111111;
  }